<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Average Rating</th>
                <th>Total Ratings</th>
                <th><a href="">Rate now</a></th>
            </tr>       
        </thead>
        <% for( let index = 0; index < data.length; index++ ) { %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= data[index].name %></td>
                <td><%= data[index].phone %></td>
                <td><%=  %>
                <% if (data[index].reviewCount == 0) { %>
                 not yet rated
                <% } else { %>
                <%= data[index].reviewSum/data[index].reviewCount %>
                <% } %>
            </td>
                <td><%= data[index].reviewCount %></td>
                <td><%=  %></td>
            </tr>
        <% } %>
       
    </table>
    <a href="/add">Add a new Cafe</a>
</body>
</html>